
.up, .down {
    display: flex;
}

.up::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #00ff00 transparent;
    transform: rotate(0deg);
    margin-top: 6px;
    margin-right: 6px;

}

.down::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent #ff0000 transparent;
    transform: rotate(180deg);
    margin-top: 6px;
    margin-right: 6px;
}